{% extends 'base.html.twig' %}

{% block contain %}
<div id="univers-container">
    <h1>L'univers de Kaamelott</h1>
    <section>
        <article id="univers-container-section-article1">
            <p>Deuxième moitié du V&#7497 siècle, île de Bretagne. Alors que l’Empire romain s’effondre et que le christianisme s’impose peu à peu face aux dieux païens, le royaume de Logres s’organise autour de son souverain, le roi Arthur, qui règne depuis le château de Kaamelott ; entouré de ses fidèles chevaliers, il s’attelle à la mission que les dieux lui ont confiée : rechercher le Saint Graal.</p>
        </article>
        <article id="univers-container-section-article2">
            <p>Mais cette quête s’annonce plus que difficile, car Arthur est très mal entouré. Ses chevaliers de la Table ronde sont un faible renfort contre les défis qui se dressent sur la route : peureux, naïfs, stupides ou au contraire violents, archaïques et désordonnés, les troupes de Bretagne ne comprennent pas l’enjeu de la quête du Graal et peinent à se rendre utiles.</p>
            <img src="/images/presentation/table-ronde.jpg" alt="">
        </article>
        <article id="univers-container-section-article3">
            <img src="/images/presentation/repas-de-famille.jpg" alt="">
            <p>L’entourage familial du roi n’est guère plus sensé : son quotidien déjà bien chargé est parsemé de conflits avec sa femme Guenièvre ou sa belle-famille. Pour couronner le tout, le pays est régulièrement la cible d’incursions barbares.</p>
        </article>
        <article id="univers-container-section-article4">
            <p>Les premiers jours de paix après la construction de Kaamelott et les débuts de la Quête du Graal cèdent vite la place à un quotidien plus difficile et morose pour le roi, qui doit maîtriser à la fois son caractère dépressif et les incessantes bourdes de son entourage tout en essayant de gouverner son royaume à sa manière, moderne et progressiste. Un combat de tous les jours où le roi légendaire va connaître bien des déboires.</p>
            <img src="/images/presentation/excalibur.jpg" alt="">
        </article>
    </section>
</div>
{% endblock %}